@* Loads main navbar *@
@await Html.PartialAsync("_Navbar")

<article class="main-article">
	<h1>Developed by Giordano de Brito</h1>

	<p>Visit the project's repository on <a href="https://github.com/GIOdeBrito/rest-transaction-api">GitHub!</a></p>
</article>

@section Style {
	<link rel="stylesheet" href="/style/nav.css">
	<link rel="stylesheet" href="/style/about.css">
}