# This is an example environment file.
# DO NOT VERSION THE ".env" FILE

ASP_PORT=5000
NODE_PORT=3000
DB_PORT=5100

#
# POSTGRES DATABASE ENV
#

# Postgres database user
DATABASE_LOGIN=
DATABASE_PASSWD=
DATABASE_PORT=

# Postgres database name
DATABASE_DB=