<header class="top-header">
	<h1>@ViewData["Title"]</h1>
</header>

<main class="auto-center">
	<form class="form-vertical" action="/api/v1/auth/registernew" method="POST">
		<div>
			<input class="input-control" name="Name" type="text" placeholder="First name" required>
		</div>

		<div>
			<input class="input-control" name="Surname" type="text" placeholder="Surname" required>
		</div>

		<div>
			<input class="input-control" name="Secret" type="password" placeholder="Password" required>
		</div>

		<div>
			<input class="input-control" name="Mail" type="text" placeholder="user@mail.com" required>
		</div>

		<input class="b b-regular" type="submit" value="Submit">
	</form>
</main>