<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="GIOdeBrito">
		<meta name="description" content="Transaction Website">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewData["Title"]</title>
		<link rel="stylesheet" href="/style/master.css">
	</head>

	<body>
		@RenderBody()

		<footer>
			@{
				ViewData["Year"] = DateTime.Now.Year.ToString();
			}

			<p>@ViewData["Year"]</p>
		</footer>
	</body>
</html>