@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
	/* Navbar View */
}

<nav>
	@{
		string Username = HttpContextAccessor.HttpContext.Session.GetString("UserName");
	}
	<h1 class="color-white">Welcome, @Username!</h1>

	<img class="nav-icon" src="/assets/icon/menu.webp" alt="menu">
	<div role="dropdown-menu">
		<a href="/about">
			<img src="/assets/icon/information.webp">
			<input type="submit" value="About">
		</a>

		<a href="/profile">
			<img src="/assets/icon/profile.webp">
			<input type="submit" value="My Profile">
		</a>

		<form action="/api/v1/auth/logoff" method="POST">
			<img src="/assets/icon/poweroff.webp">
			<input type="submit" value="Logoff">
		</form>
	</div>
</nav>