@{
	/* Navbar View */
}

<nav>
	<h1 class="color-white">Welcome, @ViewData["Name"]!</h1>

	<img class="nav-icon" src="/assets/icon/menu.webp" alt="menu">
	<div role="dropdown-menu">
		<form action="." method="POST">
			<img src="/assets/icon/poweroff.webp">
			<input type="submit" value="About">
		</form>

		<form action="/api/v1/auth/logoff" method="POST">
			<img src="/assets/icon/poweroff.webp">
			<input type="submit" value="Logoff">
		</form>
	</div>
</nav>