<header class="top-header">
	<h1><%- title %></h1>
</header>

<main class="auto-center text-center">
	<form class="form-vertical" action="/api/v1/auth/login" method="POST">
		<div>
			<input class="input-control" name="Name" type="text" placeholder="E-mail" required>
		</div>

		<div>
			<input class="input-control" name="Secret" type="password" placeholder="Password" required>
		</div>

		<input class="b b-regular" type="submit" value="Submit">

		<div>
			<a href="/signin">Create account</a>
		</div>
	</form>
</main>