<header class="top-header">
	<h1><%- title %></h1>
</header>

<main class="auto-center">
	<form class="form-vertical" action="/api/v1/registration" method="POST">
		<div>
			<input class="input-control" name="name" type="text" placeholder="First name" required>
		</div>

		<div>
			<input class="input-control" name="surname" type="text" placeholder="Surname" required>
		</div>

		<div>
			<input class="input-control" name="secret" type="password" placeholder="Password" required>
		</div>

		<div>
			<input class="input-control" name="mail" type="text" placeholder="user@mail.com" required>
		</div>

		<input class="b b-regular" type="submit" value="Submit">
	</form>
</main>