# This is an example environment file.
# Please fill the empty fields in this file before
# Running the application, duplicate and rename this file to ".env".
# Also, make sure to check the README.
# DO NOT VERSION THE ".env" FILE

# Postgres database user
DATABASE_USER="DATABASE USER"

# Postgres database password
DATABASE_SCRT="DATABASE PASSWORD"

# Postgres database name
DATABASE_NAME="DATABASE NAME"

# The hostname must be the same name as the service listed
# in the "docker-compose.yml" file which holds the
# container of Postgres database
DATABASE_HOST="DATABASE HOSTNAME"

# The port must be the default Postgres port
DATABASE_PORT="DATABASE PORT"

# The secret for the Jwt token generation
# Must be at least 50 characters long
JSON_TOKEN_SECRET="STRONG SECRET"