# This is an example environment file.
# Please fill the empty fields in this file before
# Running the application, duplicate and rename this file to ".env".
# Also, make sure to check the README.

DATABASE_USER="DATABASE USER"

DATABASE_SCRT="DATABASE PASSWORD"

DATABASE_NAME="DATABASE NAME"

# The hostname must be the same name as the service listed
# in the "docker-compose.yml" file that holds the
# container of Postgres database
DATABASE_HOST="DATABASE HOSTNAME"

# The port must be the default Postgres port
DATABASE_PORT="DATABASE PORT"