
@import "./classes.css";

:root {
	--color-dark: #242424;
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

* {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

footer {
	margin: auto auto 0 auto;
}

