<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="GIOdeBrito">
        <meta name="description" content="Node Application">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%- title %> | Node Application</title>
        <link rel="stylesheet" href="/public/style/master.css">
        <!--<script type="text/javascript" src="/public/src/script.js"></script>-->
    </head>

    <body>
        <%- body %>
    </body>
</html>