# This is an example environment file.
# Please fill the empty fields in this file before
# Running the application, duplicate and rename this file to ".env".
# Also, make sure to check the README.
# DO NOT VERSION THE ".env" FILE

# For testing reasons, most fields will already be pre-set

# Postgres database user
IS_DEVELOPMENT=true
