# This is an example environment file.
# Please fill the empty fields in this file before
# Running the application, duplicate and rename this file to ".env".
# Also, make sure to check the README.
# DO NOT VERSION THE ".env" FILE

# To start this service in Development mode, just set the value below as "true"
IS_DEVELOPMENT=

# Fill this value with a strong random secret
SESSION_SECRET=
